.CDRshield_severe {
    color: rgb(25, 0, 139);
    font-weight: 600;
}

.CDRshield_warning {
    color: rgb(140, 0, 255);
}

.CDRshield_info {
    color: #24d700;
}

/* Used by CDRshield's drop zone */

.js .inputfile,
.js #subButton {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile + label {
    color: #f1e5e6;
    background-color: #6239d3;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    background-color: #722040;
}